<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <div class="centered">
        <h4>Some error occured</h4>
        <p>We're working on it</p>
    </div>
</body>
</html>