<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <h1 style="color: blueviolet; padding: 0 0 0 35%;">WELCOME TO THE CART</h1>
</body>
</html>
